# Created by https://www.gitignore.io/api/java

# ISO file
*.iso

# BOX file
*.box

# Log file
*.log

# Log Folder
[Ll]ogs/

# All Packer Cache Folder
packages/*/packer_cache/

# All vagrant Folder
packages/*/.vagrant/

# End of https://www.gitignore.io/api/java