# Created by https://www.gitignore.io/api/java

# ISO file
*.iso

# BOX file
*.box

# Log file
*.log

# Log Folder
[Ll]ogs/

# All Packer Folder
packages/*/packer-vm-cache/

# All Vagrant Folder
packages/*/.vagrant/

# End of https://www.gitignore.io/api/java